@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 34, 34);
    color: aliceblue;
}

.border{
    border: 1px solid red;
}

.sidebar{  /*cria a side bar e faz estilizações e posicionamento*/
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 150px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid rgb(19, 12, 12);
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px ;
}
.logo-img{ /*Da estilo a foto de perfil*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
    margin-left: 30%;
    cursor: pointer;
}

.logo-img:hover{ /*cria o efeito de ao passar o mause por cima a escala da foto aumenta*/
    transform: scale(1.5);
}

.sidebar button{ /*cria estilo aos buttons da side bar*/
    height: 50px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    color: aliceblue;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span{  /*estilo para o texto dos buttons*/
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
}

.sidebar button:hover > span{ /*Quando passamos o mause sobre os buttons o fundo muda */
    background: rgb(63, 61, 61); 
}

.sidebar button i {   /*cria estilo ao simbolo dos buttons sim*/
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span{ 
    font-size: 16px;
}


.sidebar > nav{
    flex: 1 1 auto;
}

/*Estilização da sidebar*/
@media (width < 700px) {

    .sidebar{
        width: 72px;
        

    }

    .sidebar button > span{
        width: 50px;
        transition: 0.4s;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }

    .main{
        transition: 0.4s;
        margin-left: 78px !important; 
        
    }

    .main > a > div{
        height:100px;
        width: 100px;
        margin: 5px;
        margin-top: 20px;
        
    }

    .main > div{
        height:100px;
        width: 100px;
        margin: 5px;
        margin-top: 20px;  
             
        
    }

    .imgmat {
        height:40px;
        width: 40px;
        margin-top: 0px;
      
    }

    .p2{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
    }

}


/*parte do conteúdo .*/
.main{ 
    /*estiliza o conteúdo principal*/ 
    margin-left: 11.6%; 
    margin-left: 160px; 
    margin-right: 6px;
    overflow: hidden;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

a > div{
    /*Cria os quadrados das máterias*/
    background-color: rgba(47, 46, 46, 0.639);
    height:50px;
    width: 90%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}



div{ 
    /*Cria os quadrados das máterias*/
    background-color: rgba(47, 46, 46, 0.639);
    height:50px;
    width: 90%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

a{ /*Disfarça os links*/
    text-decoration: none;
    color: aliceblue; 
}

div:hover{ /*muda a cor de fundo das divs ao passar o mause*/
   background-color:  #767676a3;
}

.imgmat{ /*ajusta a imagem da matéria*/
    margin-top: 30px;
}
header#topo{
    /*Cabeçalho Matérias*/
    /*Cabeçalho*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-left: none;
    border-top: none;
    border-right: none;
    border-width: 2px;
    
    border-radius: 20px;
    float: right;
    text-shadow: 1px 1px 5px black;
}

.trabalho{
    text-align: center;
    width: 90%;
}

.trabalho1{
    width: 90%;
    text-align: center;
}

.linktrabalho:hover{
    background-color: #767676a3;
    height:50px;
    width: 90%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.linktrabalho{
    background-color: rgba(47, 46, 46, 0.639);
    height:50px;
    width: 90%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.icontrabalho{
    width: 4%;
    height: 70%;
    margin-left: 20px;
    margin-top: 0.7%;
    float: left;
    border-radius: 20%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.712);
    border-width: 1px;
}

.trabalho > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}

.trabalho1 > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}

.data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.visivel{
    display: inline;
}

 .invisivel{
    display: inline;
    visibility: hidden;
    text-decoration: line-through;
}

nav#menu{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 1%;
    width: 95%;
    margin-top: 3%;
    margin-right: 9%;
}

.pendentes{
    text-align: center;
}

.btnpendentes{
    height: 50px;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    color: aliceblue;
    cursor: pointer;
    text-align: left;
    padding: 1%;
    padding-left: 9%;
    padding-right: 10%;
    border-radius: 24px;
    font-size: 1.5em;
    margin: 0% 1%;
    background-color: rgba(47, 46, 46, 0.639);
}

.btnpendentes:hover{
    background: rgb(94, 91, 91);
    transition: 0.2s;
}