@charset "UTF-8";


.sidebar{  /*cria a side bar e faz estilizações e posicionamento*/
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    height: 100%;
    width: 15%;
    padding: 15vh 10px 30px 10px;
    border-right: 1px solid rgb(0, 0, 0);
    background-color: rgb(36, 34, 34);

}

.sidebarheader{
    width: 100%;
    margin-bottom: 16px ;

}
.logoimg{ /*Da estilo a foto de perfil*/
    width: 50px;
    max-height: 45px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
    margin-left: 3px;
    cursor: pointer;
}

.logo-img:hover{ /*cria o efeito de ao passar o mause por cima a escala da foto aumenta*/
    transform: scale(1.5);
}

.sidebar button{ /*cria estilo aos buttons da side bar*/
    height: 50px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    color: aliceblue;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span{  /*estilo para o texto dos buttons*/
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;


}

.sidebar button:hover > span{ /*Quando passamos o mause sobre os buttons o fundo muda */
    background: rgb(63, 61, 61); 
    transform: translate(5px);
}
.sidebar button i {   /*cria estilo ao simbolo dos buttons*/
    position: relative;
    font-size: 28px;
    transition: 0.2s;

}

.sidebar button span{ 
    font-size: 16px;
}


.sidebar > nav{
    flex: 1 1 auto;
}

@media (width < 800px) {

    .sidebar{
        width: 72px;
        

    }

    .sidebar button > span{
        width: 50px;
        transition: 0.4s;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }

    .main{
        transition: 0.4s;
        margin-left: 78px !important; 
        
    }

    .main > a > div{
        height:100px;
        width: 100px;
        margin: 5px;
        margin-top: 20px;
        
    }

    .main > div{
        height:100px;
        width: 100px;
        margin: 5px;
        margin-top: 20px;  
             
        
    }

    .imgmat {
        height:40px;
        width: 40px;
        margin-top: 0px;
      
    }

    .p2{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
    }

}
