.MainConteiner {
    background-color: rgb(36, 34, 34);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.conteinerEquipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    width: 70%;
    height: 70%;
    margin-top: 10%;
    margin-left: 20%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: red;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.equipe{
    display: flex;
    background-color: rgba(73, 73, 73, 0.7);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    transition: 0.3s;
    margin: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: flex-end;
}
.equipe:hover{
    transform: scale(1.1);
    background-color:rgba(85, 85, 85, 0.7) ;
}
.equipenome{
    color: white;
    text-decoration: none;
    margin-left: 7%;
    margin-bottom: 3%;
}
.conteinerEquipes::-webkit-scrollbar {
    width: 5px; /* Largura da scrollbar */
}

.conteinerEquipes::-webkit-scrollbar-track {
    background: rgba(116, 116, 116, 0.7); /* Cor de fundo da trilha da scrollbar */
    border-radius: 10px;
}

.conteinerEquipes::-webkit-scrollbar-thumb {
    background: #888; /* Cor da parte que desliza */
    border-radius: 10px; /* Borda arredondada */
}
.BottomEquipes{
width: 100%;
height: 30%;
background-color: gray;
display: flex;
align-items: center;
border-radius: 0px 00px 20px 20px ;
}
.botaoCriarSala{
    width: 100px;
    height: 30px;
    background-color: rgb(49, 49, 49);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}
.botaoCriarSala:hover{
    transform: scale(1.2);
}
.inputCriarSalaaa{
    background-color: gray;
    border: none;
    width: 200px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 5px;
}
.contcriarsala{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteinerAtiv{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 80%;
    height: 70%;
    margin-top: 10%;
    margin-left: 20%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: red;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.atividade{
    margin-bottom: 15px;
    width: 100vh;
    display: flex;
    height: 15px;
    background-color: #3f3f3f;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    justify-content: space-between;
}.atividade:hover{
    transform: scale(1.1);
}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (width < 800px){
    .conteinerEquipes{
        margin-top: 15%;
    }
}
@media (width < 500px){
    .conteinerEquipes{
        margin-top: 20%;
        margin-left: 25%;
    }
}